@import "bulma/css/bulma.css";

.navbar {
  display: flex;
  align-content: center;
  justify-content: space-around;
  height: 7vh;
}

.navbar-item {
  justify-content: center;
  width: 25vw;
  font-size: 1.4em;
  height: 7vh;
}

.active {
  transition: background-color 0.3s ease;
  background-color: var(--bulma-primary-30) !important;
}
